<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <mat-list role="list">
          <mat-card>Gestion de Hospital</mat-card>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <a mat-button [routerLink]="['/users']">Users</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
              <a mat-button [routerLink]="['/home']">Roles</a>
            </mat-list-item>
        </mat-list>    
  </mat-sidenav>
  
  <mat-sidenav-content>          
    <p><button mat-button (click)="sidenav.open()"><mat-icon>menu</mat-icon>Gestion hospital</button></p>
  <div class="container">
    <router-outlet></router-outlet>        
  </div>

  </mat-sidenav-content>
  
</mat-sidenav-container>
