<p>
  user-edit works!
</p>    
<form (ngSubmit)="createNewUser()">
<mat-form-field appearance="outline" >
    <mat-label>Nombres</mat-label>
    <input [(ngModel)]="user.Nombre" name='Nombre' matInput placeholder="Placeholder">
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint>Ingrese sus nombres</mat-hint>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="user.Email" name="Email" matInput placeholder="Placeholder">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint>Ingrese su email</mat-hint>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input type='password' [(ngModel)]="user.Password" name="Password" matInput placeholder="Placeholder">
    <mat-icon matSuffix>password</mat-icon>
    <mat-hint>Ingrese su contraseña</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline" style="padding-left: 5%">
    <mat-label>Repetir contraseña</mat-label>
    <input type='password' matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Repita su contraseña</mat-hint>
</mat-form-field>
<br>

<button mat-raised-button type='submit'>Crear usuario</button>
</form>